Repository toller892/adcp-salesagent-deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-links, no-hardcoded-urls, check-gam-auth-support, enforce-sqlalchemy-2-0, check-route-conflicts, check-tenant-context-order, check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment, type-ignore-no-regression, suggest-test-factories

check-docs-links:
  name: Check documentation links
  entry: uv run python .pre-commit-hooks/check_docs_links.py
  language: system
  pass_filenames: false

no-hardcoded-urls:
  name: Check for hardcoded URLs in JavaScript
  entry: uv run python .pre-commit-hooks/check_hardcoded_urls.py
  language: system
  pass_filenames: true

check-gam-auth-support:
  name: Check GAM client supports both auth methods
  entry: uv run python .pre-commit-hooks/check-gam-auth-support.py
  language: system
  pass_filenames: false

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-route-conflicts:
  name: Detect Flask route conflicts
  entry: uv run python .pre-commit-hooks/check_route_conflicts.py
  language: system
  pass_filenames: false
  always_run: false

check-tenant-context-order:
  name: Check tenant context auth before get_current_tenant()
  entry: uv run python .pre-commit-hooks/check_tenant_context_order.py
  language: system
  pass_filenames: true
  always_run: false

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python scripts/hooks/validate_mcp_schemas.py
  language: system
  pass_filenames: false

type-ignore-no-regression:
  name: 'Check type: ignore count (no regression)'
  entry: uv run python .pre-commit-hooks/check_type_ignore_count.py
  language: system
  pass_filenames: false
  always_run: false

suggest-test-factories:
  name: Suggest factory usage in test files
  entry: uv run python .pre-commit-hooks/check_test_factories.py
  language: system
  pass_filenames: true
  always_run: false

Add Zeabur deployment config and guide
  ZEABUR_DEPLOY.md
  zeabur.json
Due: check-docs-links

Update Zeabur config with detailed deployment guide
  ZEABUR_DEPLOY.md
  zeabur.json
Due: check-docs-links

Increase migration timeout to 300 seconds
  scripts/deploy/run_all_services.py
Due: none

Fix: Link to login page instead of dashboard in pending configuration page
  src/landing/landing_page.py
Due: check-gam-auth-support, enforce-sqlalchemy-2-0, check-route-conflicts, check-import-usage, check-response-attribute-access, no-fn-calls, type-ignore-no-regression

Fix: Use nginx port 8000 for healthcheck instead of MCP port 8080
  Dockerfile
Due: none

fix: correct login URL path in pending configuration page
  src/landing/landing_page.py
Due: check-gam-auth-support, enforce-sqlalchemy-2-0, check-route-conflicts, check-import-usage, check-response-attribute-access, no-fn-calls, type-ignore-no-regression

fix: add CORS headers to MCP endpoint for browser clients
  config/nginx/nginx-single-tenant.conf
Due: none

chore: trigger redeploy
  README.md
Due: check-docs-links

fix: Use get_formats_for_agent in test_creative_agent to fix missing client argument
  src/admin/blueprints/creative_agents.py
Due: check-gam-auth-support, enforce-sqlalchemy-2-0, check-route-conflicts, check-import-usage, check-response-attribute-access, no-fn-calls, type-ignore-no-regression

fix: Allow parameterized format_ids with width/height/duration_ms fields
  alembic/versions/fix_format_ids_validation.py
Due: none

fix: Skip setup validation in test mode (ADCP_AUTH_TEST_MODE=true)
  src/services/setup_checklist_service.py
Due: check-gam-auth-support, enforce-sqlalchemy-2-0, check-route-conflicts, check-import-usage, check-response-attribute-access, no-fn-calls, type-ignore-no-regression

Path conditions:
  check-docs-links: any of: ^(docs/.*\.md|[^/]+\.md)$
  no-hardcoded-urls: any of: ^(templates/.*\.html|static/.*\.js)$
  check-gam-auth-support: any of: ^src/.*\.py$
  enforce-sqlalchemy-2-0: any of: ^src/.*\.py$
  check-route-conflicts: any of: ^(src/.*\.py)$
  check-tenant-context-order: any of: ^src/core/tools/.*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  no-fn-calls: any of: ^src/
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  type-ignore-no-regression: any of: ^src/.*\.py$
  suggest-test-factories: any of: ^tests/.*\.py$
